@font-face {
    font-family: MagicSparkle;
    src: url(../../font/Magic\ Sparkle.ttf);
}

.button {
    font-family: MagicSparkle;
}

#logo {
    max-height: 175px;
    margin: auto;
    margin-top: 75px;
}

.navbar {
    background-color: rgb(253,252,248);
}

.navbar-item {
    font-size:  50px;
    margin: 20px;
    text-decoration: underline;
}

.navbar-item:hover {
    font-size: 52px;
}

.transparent {
    opacity: 1;
}