.heroBackground {
    background-color: rgb(220,211,196);
}

.title {
    font-size: 75px;
}

.subtitle {
    font-size: 50px;
}

@media screen and (max-width: 1000px) {

    .title {
        font-size: 50px;
    }
    
    .subtitle {
        font-size: 25px;
    }
}