.footer1 {
    display: flex;
    margin-left: 60px;
    margin-right: auto;
    height: 50px;
}
.fullFooter {
    margin-top: 75px;
}

.footerLine {
    font-size: 20px;
    text-decoration: none;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    font-size: 22px;
}

.line {
    width: 800px;
    height: 1px;
    background-color: black;
    margin: auto;
}

.footerLogo {
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

#logo {
    margin: auto;
}