.footer1 {
    display: flex;
    margin-left: 60px;
    margin-right: auto;
    height: 50px;
}
.fullFooter {
    margin-top: 75px;
    height: 150px
}

.footerLine {
    font-size: 20px;
    text-decoration: none;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    font-size: 22px;
}

.line {
    width: 800px;
    height: 1px;
    background-color: black;
    margin: auto;
}

.footerLogo {
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

#logo {
    margin: auto;
}

@media screen and (max-width: 320px) {
    .footer1 {
        display: flex;
        margin-left: 45px;
        margin-right: auto;
        height: 50px;
    }
    .fullFooter {
        margin-top: 30px;
        height: 100px;
    }
    
    .footerLine {
        font-size: 7px;
        text-decoration: none;
        margin: auto;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
    }
    
    a:hover {
        font-size: 22px;
    }

    .line {
        width: 250px;
        margin-left: 58px;
    }
}

@media screen and (min-width: 321px) {

    .footer1 {
        display: flex;
        margin-left: 0px;
        margin-right: auto;
        height: 50px;
    }
    .fullFooter {
        margin-top: 30px;
        height: 100px;
    }
    
    .footerLine {
        font-size: 10px;
        text-decoration: none;
        margin: auto;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
    }
    
    a:hover {
        font-size: 22px;
    }

    .line {
        width: 250px
    }
    
}

@media screen and (min-width: 376px) {

    .footer1 {
        display: flex;
        margin-left: 0px;
        margin-right: auto;
        height: 50px;
    }
    .fullFooter {
        margin-top: 30px;
        height: 250px;
    }
    
    .footerLine {
        font-size: 10px;
        text-decoration: none;
        margin: auto;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
    }
    
    a:hover {
        font-size: 22px;
    }

    .line {
        width: 250px
    }
    
}

@media screen and (min-width: 391px) {

    .footer1 {
        display: flex;
        margin-left: 0px;
        margin-right: auto;
        height: 50px;
    }
    .fullFooter {
        margin-top: 30px;
        height: 300px;
    }
    
    .footerLine {
        font-size: 10px;
        text-decoration: none;
        margin: auto;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
    }
    
    a:hover {
        font-size: 22px;
    }

    .line {
        width: 250px
    }
    
}

@media screen and (min-width: 415px) {
    .footer1 {
        display: flex;
        margin-left: 0px;
        margin-right: auto;
        height: 50px;
    }
    .fullFooter {
        margin-top: 30px;
        height: 500px;
    }
    
    .footerLine {
        font-size: 18px;
        text-decoration: none;
        margin: auto;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
    }
    
    a:hover {
        font-size: 22px;
    }

    .line {
        width: 250px
    }
}

@media screen and (min-width: 769px) {
    .footer1 {
        display: flex;
        margin-left: 0px;
        margin-right: auto;
        height: 50px;
    }
    .fullFooter {
        margin-top: 30px;
        height: 800px;
    }
    
    .footerLine {
        font-size: 18px;
        text-decoration: none;
        margin: auto;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
    }
    
    a:hover {
        font-size: 22px;
    }

    .line {
        width: 250px
    }
}

@media screen and (min-width: 821px) {
    .footer1 {
        display: flex;
        margin-left: 0px;
        margin-right: auto;
        height: 50px;
    }
    .fullFooter {
        margin-top: 30px;
        height: 850px;
    }
    
    .footerLine {
        font-size: 18px;
        text-decoration: none;
        margin: auto;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
    }
    
    a:hover {
        font-size: 22px;
    }

    .line {
        width: 250px
    }
}


@media screen and (min-width: 1025px) {
    .footer1 {
        display: flex;
        margin-left: 60px;
        margin-right: auto;
        height: 50px;
    }
    .fullFooter {
        margin-top: 75px;
        height: 150px
    }
    
    .footerLine {
        font-size: 20px;
        text-decoration: none;
        margin: auto;
    }
    
    a {
        color: inherit;
        text-decoration: underline;
    }
    
    a:hover {
        font-size: 22px;
    }
    
    .line {
        width: 800px;
        height: 1px;
        background-color: black;
        margin: auto;
    }
    
    .footerLogo {
        text-align: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    #logo {
        margin: auto;
    }
}

