@font-face {
    font-family: MagicSparkle;
    src: url(../../font/Magic\ Sparkle.ttf);
}

.button {
    font-family: MagicSparkle;
}

#logo {
    max-height: 100px;
    height: 100px;
}

.navbar {
    background-color: rgb(253,252,248);
}

.navbar-item {
    font-size: 25px;
    margin: 25px;
    text-decoration: underline;
}

.navbar-item:hover {
    font-size: 25px;
}


@media screen and (max-width: 480px) {
    #logo {
        max-height: 50px;
        height: 50x;
    }
  }